<style type="text/css">

	tr:hover{
        background: #EBEBEB;
    }

</style>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
            <div class="panel-body">
                <p><%= __('HOME_materialInfo')%></p>
            </div>

            <ul class="list-group">
                <li class="list-group-item"><b><%= __('HOME_materialAvaliable')%></b> <%= user.materialAmount %> gram</li>
                <li class="list-group-item"><b><%= __('HOME_materialReserved')%></b> <%= user.materialAmountReserved %> gram</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div id="attention-table-panel" style="display: none" class="panel panel-danger">
            <div class="panel-heading"><%= __('HOME_attentionTable')%></div>
            <table id="attention-table" class="table" data-link="row">
                <tr>
                    <td><b><%= __('HOME_tableName')%></b></td>
                    <td><b><%= __('HOME_tableStatus')%></b></td>
                    <td style="width: 50%"><b>Info</b></td>
                    <td><b><%= __('HOME_tableAction')%></b></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><%= __('HOME_pendingTable')%></div>
            <table id="notCommitted-table" class="table" data-link="row"></table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><%= __('HOME_normalTable')%></div>
            <table id="normal-table" class="table" data-link="row"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Table attention = rejected
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/21",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var rejectedPrints = $.parseJSON(data);
        drawTableRejectedPrints(rejectedPrints);
    });

    function drawTableRejectedPrints (rejectedPrints) {
        var table = document.getElementById('attention-table');
        for (var i = 0; i < Object.keys(rejectedPrints).length; i++) {
            $("#attention-table-panel").show();

            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/prints/' + rejectedPrints[i].id + '">' + rejectedPrints[i].name + '</a>';
            row.insertCell(1).innerHTML = '<%= __("HOME_tableRejected")%>';
            row.insertCell(2).innerHTML = rejectedPrints[i].rejectingNotice;
            row.insertCell(3).innerHTML = '<a href="/prints/' +  rejectedPrints[i].id + '"><%= __("HOME_tableSettings")%></a><br><a href="/backend/prints/' + rejectedPrints[i].id + '/delete"><%= __("HOME_tableDelete")%></a>';
        }
    }

    //Table attention = failed
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/41",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var failedPrints = $.parseJSON(data);
        drawTablefailedPrints(failedPrints);
    });

    function drawTablefailedPrints (failedPrints) {
        var table = document.getElementById('attention-table');
        for (var i = 0; i < Object.keys(failedPrints).length; i++) {
            $("#attention-table-panel").show();
            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/prints/' + failedPrints[i].id + '">' + failedPrints[i].name + '</a>';
            row.insertCell(1).innerHTML = '<%= __("HOME_tableFailed")%>';
			if(failedPrints[i].rejectingNotice.length > 1){
				row.insertCell(2).innerHTML = failedPrints[i].rejectingNotice;
			}else{
            	row.insertCell(2).innerHTML = 'Het printing van je project is mislukt. Probeer het later opnieuw (eventueel met nieuwe instellingen of aangepast ontwerp)';
			}
			row.insertCell(3).innerHTML = '<a href="/prints/' +  failedPrints[i].id + '"><%= __("HOME_tableSettings")%></a><br><a href="/backend/prints/' + failedPrints[i].id + '/archive"><%= __("HOME_tableArchive")%></a>';
        }
    }

    //Table NotCommitted
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/0",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var notCommittedPrints = $.parseJSON(data);
        drawTableNotCommitted(notCommittedPrints);
    });

    function drawTableNotCommitted (notCommittedPrints) {
		var table = document.getElementById('notCommitted-table');
		var row0 = table.insertRow(0);
		row0.insertCell(0).innerHTML = '<b><%= __("HOME_tableName")%></b>';
		row0.insertCell(1).innerHTML = '<b><%= __("HOME_tableTime")%></b>';
        row0.insertCell(2).innerHTML = '<b><%= __("HOME_tableMaterial")%></b>';
		row0.insertCell(3).innerHTML = '<b><%= __("HOME_tableAction")%></b>';
		for (var i = 0; i < Object.keys(notCommittedPrints).length; i++) {
			var row = table.insertRow(1);
			row.insertCell(0).innerHTML = '<a href="/prints/' + notCommittedPrints[i].id + '">' + notCommittedPrints[i].name + '</a>';
			row.insertCell(1).innerHTML = notCommittedPrints[i].estimatedPrintTime + ' minutes';
            row.insertCell(2).innerHTML = notCommittedPrints[i].materialAmount + ' gram';

            if(notCommittedPrints[i].materialAmount > 0){
                row.insertCell(3).innerHTML = '<a href="/backend/prints/' + notCommittedPrints[i].id + '/apply"><%= __("HOME_tableApply")%></a>';
            }else{
                row.insertCell(3).innerHTML = '<a href="/prints/' +  notCommittedPrints[i].id + '"><%= __("HOME_tableSettings")%></a>';
            }
		}
	}

    //Table Normal
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var normalPrints = $.parseJSON(data);
        drawTableNormal(normalPrints);
    });

    function drawTableNormal (normalPrints) {
		var table = document.getElementById('normal-table');
		var row0 = table.insertRow(0);
		row0.insertCell(0).innerHTML = '<b><%= __("HOME_tableName")%></b>';
        row0.insertCell(1).innerHTML = '<b><%= __("HOME_tableStatus")%></b>';
        row0.insertCell(2).innerHTML = '<b><%= __("HOME_tableTime")%></b>';
		row0.insertCell(3).innerHTML = '<b><%= __("HOME_tableMaterial")%></b>';
		row0.insertCell(4).innerHTML = '<b><%= __("HOME_tableAction")%></b>';
		for (var i = 0; i < Object.keys(normalPrints).length; i++) {
			var row = table.insertRow(1);
			row.insertCell(0).innerHTML = '<a href="/prints/' + normalPrints[i].id + '">' + normalPrints[i].name + '</a>';

            if(normalPrints[i].status == 1){
                row.insertCell(1).innerHTML = '<b style="color: grey"><%= __("HOME_tablePending")%></b>';
            }else if(normalPrints[i].status == 2){
                row.insertCell(1).innerHTML = '<b style="color: orange"><%= __("HOME_tableWaiting")%></b>';
            }else if(normalPrints[i].status == 3){
                row.insertCell(1).innerHTML = '<b style="color: blue"><%= __("HOME_tablePrinting")%></b>';
            }else if(normalPrints[i].status == 4){
                row.insertCell(1).innerHTML = '<b style="color: green"><%= __("HOME_tableDone")%></b>';
            }

            row.insertCell(2).innerHTML = normalPrints[i].estimatedPrintTime + ' minutes';
            row.insertCell(3).innerHTML = normalPrints[i].materialAmount + ' gram';

            if(normalPrints[i].status == 1 || normalPrints[i].status == 2){
                row.insertCell(4).innerHTML = '<a href="/backend/prints/' + normalPrints[i].id + '/delete"><%= __("HOME_tableDelete")%></a>';
            }else if(normalPrints[i].status == 4){
                row.insertCell(4).innerHTML = '<a href="/backend/prints/' + normalPrints[i].id + '/archive"><%= __("HOME_tableArchive")%></a>, <a href="/backend/prints/copy/' + normalPrints[i].id + '/"><%= __("HOME_tableCopy")%></a>';
            }
		}
	}
</script>
