<h3><%= __('PRINTSADD_header')%></h3>
<br>
<form id="print-add-form" method="post" action="/backend/prints/add" enctype="multipart/form-data">
    <table>
        <tr>
			<th><label><%= __('PRINTSADD_formName')%></label></th>
			<th><input name="name" type='text'></input></th>
		</tr>
        <tr>
            <th><label><%= __('PRINTSADD_formFile')%></label></th>
            <th><input name="stlFile" type="file" accepts=".stl"></input></th>
        </tr>
        <tr>
            <th><br><h4><%= __('PRINTSADD_formCuraPar')%></h4></th>
        </tr>
        <tr>
            <th><label><%= __('PRINTSADD_formCuraProfile')%></label></th>
            <th>
                <select id="profileSelect">
                </select>
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Profilen" data-toggle="popover" data-placement="right"
                    data-content="Dit zijn van te voren gemaakten profielen om snel instellingen te kiezen">
                </span>
            </th>
        </tr>
        <tr>
            <th><label>Layer Height:</label></th>
            <th><input name="P_layerHeight" type="number" step="any" min="0" value="0.2">
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Layer Height" data-toggle="popover" data-placement="right"
                    data-content="De Layer Height geeft aan hoe dik in Milimeter de onderste en bovenste lagen gaan zijn. Een lagere Layer Height geeft meer precieze maar duurt ook langer en is duurder.">
                </span>
            </input></th>
        </tr>
        <tr>
            <th><label>Shell Thickness:</label></th>
            <th><input name="P_shellThickness" type="number" step="any" min="0" value="1">
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Shell Thickness" data-toggle="popover" data-placement="right"
                    data-content="De Shell Thickness geeft aan in Milimeters hoe dik de banden van een print opdracht zijn. Dikkere wanden zijn sterker maar kost ook meer materiaal en duurt langer.">
                </span>
            </input></th>
        </tr>
        <tr>
            <th><label>Bottom / Top Thickness:</label></th>
            <th><input name="P_bottomTopThickness" type="number" step="any" min="0" value="0.8">
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Bottom Top Thickness" data-toggle="popover" data-placement="right"
                    data-content="De Bottom Top Thickness geeft aan hoe dik de bovenste en onderste laag gaan zijn. Afhankelijk van hoe vaak Layer height in de Bottom Top Thickness past wordt bepaalt hoeveel lagen er zijn aan de onderkant en boven kan van een printje.">
                </span>
            </input></th>
        </tr>
        <tr>
            <th><label>Fill Density:</label></th>
            <th><input name="P_fillDensity" type="number" step="any" min="0" value="20">
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Fill density" data-toggle="popover" data-placement="right"
                    data-content="De Fill density is het percentage waarmee een object wordt opgevuld. Hogere Fill density is sterker maar kost ook meer materiaal en duurt langer.">
                </span>
            </input></th>
        </tr>
        <tr>
            <th><label>Print Speed:</label></th>
            <th><input name="P_printSpeed" type="number" step="any" min="0" value="125">
                <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Print speed" data-toggle="popover" data-placement="right"
                    data-content="Dit is de snelheid waarmee een printer te werk gaat in Miliseconden. Een hogere snelheid betekend een kortere print opdracht maar ook minder precieze.">
                </span>
            </input></th>
        </tr>
        <tr>
            <th><label>Support Type:</label></th>
            <th><select name="P_support">
                <option value="0" selected>None</option>
                <option value="1">Touching Buildplate</option>
                <option value="2">Everywhere</option>
            </select>
            <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Support Type" data-toggle="popover" data-placement="right"
                data-content="Dit geeft aan wat voor ondersteuning er wordt gebouwd voor de print opdracht zo dat je bijvoorbeeld hoeken kan maken van groter dan 45 graden. Touching Buildplate: Bouw een ondersteuning onder het object maar niet useen het object zelf. Everywhere: Overal waar ondersteuning nodig is wordt er ondersteuning gebouwd.">
            </span>
            </th>
        </tr>
        <tr>
            <th><label>Platform Adhesion Type:</label></th>
            <th><select name="P_platformAdhesionType">
                <option value="0">None</option>
                <option value="1" selected>Brim</option>
                <option value="2">Raft</option>
            </select></th>
        </tr>
        <tr>
            <th><br><input type="submit" value="Upload"></th>
        </tr>
    </table>
</form>

<div class="panel panel-primary popup" id="waitForSliceWindow">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center"><%= __('PRINTSADD_popup')%>
            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
        </h3>
    </div>
    <div class="panel-body">
        <%= __('PRINTSADD_popupInfo')%>
    </div>
</div>

<script type="text/javascript">
    var curaProfiles = [
        {
            'name': "<%= __('PRINTSADD_formCuraProfilePrototype')%>",
            'parameters': {
                'P_layerHeight': 0.2,
                'P_shellThickness': 1,
                'P_bottomTopThickness': 0.8,
                'P_fillDensity': 20,
                'P_printSpeed': 125
            }
        },
        {
            'name': "<%= __('PRINTSADD_formCuraProflieExtraStrong')%>",
            'parameters': {
                'P_layerHeight': 0.1,
                'P_shellThickness': 2,
                'P_bottomTopThickness': 1.0,
                'P_fillDensity': 100,
                'P_printSpeed': 100
            }
        },
    ];

    $.each(curaProfiles, function(key, value) {
        $('#profileSelect').append($("<option></option>")
            .attr("value", key)
            .text(value.name));
    });

    $('#profileSelect').change(function(){
        var selected = $(this).val();

        $.each(curaProfiles[selected].parameters, function(key, value){
            $("input[name='" + key + "']").attr("value", value);
        });
    });

    $('input[value="Upload"]').click(function(){
        $('#blackOverlay').css('display', 'block');
        $('#waitForSliceWindow').css('display', 'block');
    });

    $("[data-toggle=popover]").popover({ trigger: "hover" });

</script>
