<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
<script src="https://rawgit.com/mrdoob/three.js/master/examples/js/controls/TrackballControls.js"></script>

<style type="text/css">

    .popover {
        width: 300px;
    }

</style>

<div class="row">
    <div class="col-md-3">
        <h3><%= __('PRINTITEM_infoName')%> <%= print.name %></h3>
    </div>
    <div class="col-md-5">
        <h4><%= __('PRINTITEM_infoTime')%> <b><%= print.estimatedPrintTime %></b> minutes</h4>
        <h4><%= __('PRINTITEM_infoMaterial')%> <b><%= print.materialAmount %></b> gram</h4>
    </div>
    <div class="col-md-4">
        <%if (user.type !== 'normal') { %>
            <br>
            <h4> <%= __('PRINTITEM_infoOwner')%> <b><%= printOwner %></b></h4>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
            <div class="panel-body">
                <p>
                    <%if (print.status == 0) {%>
                        <h4><b style="color: grey"><%= __('PRINTITEM_infoStatusNotcommited')%></b></h4><br>
                        <%= __('PRINTITEM_infoStatusNotcommitedDesc')%>
                    <% } else if (print.status == 1) { %>
                        <h4><b style="color: grey"><%= __('PRINTITEM_infoStatusPending')%></b></h4><br>
                        <%= __('PRINTITEM_infoStatusPendingDesc')%>
                    <% } else if (print.status == 2) { %>
                        <h4><b style="color: orange"><%= __('PRINTITEM_infoStatusAccepted')%></b><h4><br>
                        <%= __('PRINTITEM_infoStatusAcceptedDesc')%>
                    <% } else if (print.status == 21) { %>
                        <h4><b style="color: red"><%= __('PRINTITEM_infoStatusRejected')%></b></h4><br>
                        <%= __('PRINTITEM_infoStatusRejectedDesc')%>
                    <% } else if (print.status == 3) { %>
                        <h4><b style="color: blue"><%= __('PRINTITEM_infoStatusPrinting')%></b></h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%;">
                                <%= progress %>%
                            </div>
                        </div>
                        <%= __('PRINTITEM_infoStatusPrintingDesc')%>
                    <% } else if (print.status == 4) { %>
                        <h4><b style="color: green"><%= __('PRINTITEM_infoStatusDone')%></b></h4><br>
                        <%= __('PRINTITEM_infoStatusDoneDesc')%>
                    <% } else if (print.status == 41) { %>
                        <h4><b style="color: red"><%= __('PRINTITEM_infoStatusFailed')%></b></h4><br>
                        <%= __('PRINTITEM_infoStatusFailedDesc')%>
                    <% } %>
                    <b><a href="/prints/download/<%= print._id %>"><h5>Download STL</h5></a></b>
                </p>
            </div>

            <ul class="list-group">
                <%if (print.status == 0) {%>
                    <b><a href="/backend/prints/<%= print._id %>/apply" class="list-group-item list-group-item-success"><%= __('PRINTITEM_buttonApply')%></a></b>
                <% } %>

                <%if (user.type !== 'normal' && print.status == 1) { %>
                    <a href="/backend/prints/<%= print._id %>/accept/true" class="list-group-item list-group-item-success"><%= __('PRINTITEM_buttonAccept')%></a>
                    <a href="/backend/prints/<%= print._id %>/accept/false" class="list-group-item list-group-item-danger"><%= __('PRINTITEM_buttonReject')%></a>
                <% } %>

                <%if (print.archive == false && print.status == 4 || print.archive == false && print.status == 41) {%>
                    <a href="/backend/prints/<%= print._id %>/archive" class="list-group-item list-group-item-info"><%= __('PRINTITEM_buttonArchive')%></a>
                <% }else if (print.status == 0 || print.status == 1 || print.status == 2 || print.status == 21 ) { %>
                    <a href="/backend/prints/<%= print._id %>/delete" class="list-group-item list-group-item-danger"><%= __('PRINTITEM_buttonDelete')%></a>
                <% } %>
                <a href="/backend/prints/copy/<%= print._id %>/" class="list-group-item list-group-item-info"><%= __('PRINTITEM_buttonCopy')%></a>
            </ul>
        </div>
        <%if (print.rejectingNotice) { %>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= __('PRINTITEM_rejectionNotice')%></h3>
                </div>
                <div class="panel-body">
                    <%= print.rejectingNotice %>
                </div>
            </div>
        <% } %>
    </div>
    <div class="col-md-5">
        <form id="print-update-parameters-form" method="post" action="/backend/prints/reslice/<%= print._id %>">
            <table>
                <tr>
                    <th><h4>Cura print parameters</h4></th>
                </tr>
                <tr>
                    <th><label>Layer Height:</label></th>
                    <th><input name="P_layerHeight" type="number" step="any" min="0" value="<%= print.P_layerHeight %>">
                        <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Layer Height" data-toggle="popover" data-placement="right"
                            data-content="<%= __('CURAPOPOVER_layerHeight')%>">
                        </span>
                    </input></th>
                </tr>
                <tr>
                    <th><label>Shell Thickness:</label></th>
                    <th><input name="P_shellThickness" type="number" step="any" min="0" value="<%= print.P_shellThickness %>">
                        <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Shell Thickness" data-toggle="popover" data-placement="right"
                            data-content="<%= __('CURAPOPOVER_shellThickness')%>">
                        </span>
                    </input></th>
                </tr>
                <tr>
                    <th><label>Bottom / Top Thickness:</label></th>
                    <th><input name="P_bottomTopThickness" type="number" step="any" min="0" value="<%= print.P_bottomTopThickness %>">
                        <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Bottom Top Thickness" data-toggle="popover" data-placement="right"
                            data-content="<%= __('CURAPOPOVER_bottumTopThickness')%>">
                        </span>
                    </input></th>
                </tr>
                <tr>
                    <th><label>Fill Density:</label></th>
                    <th><input name="P_fillDensity" type="number" step="any" min="0" value="<%= print.P_fillDensity %>">
                        <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Fill density" data-toggle="popover" data-placement="right"
                            data-content="<%= __('CURAPOPOVER_fillDensity')%>">
                        </span>
                    </input></th>
                </tr>
                <tr>
                    <th><label>Print Speed:</label></th>
                    <th><input name="P_printSpeed" type="number" step="any" min="0" value="<%= print.P_printSpeed %>">
                        <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Print speed" data-toggle="popover" data-placement="right"
                            data-content="<%= __('CURAPOPOVER_printSpeed')%>">
                        </span>
                    </input></th>
                </tr>
                <tr>
                    <th><label>Support Type:</label></th>
                    <th><select name="P_support">
                        <option value="0" <%if (print.P_support == 0) { %> selected <% } %> >None</option>
                        <option value="1" <%if (print.P_support == 1) { %> selected <% } %> >Touching Buildplate</option>
                        <option value="2" <%if (print.P_support == 2) { %> selected <% } %> >Everywhere</option>
                    </select>
                    <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" title="Support Type" data-toggle="popover" data-placement="right"
                        data-content="<%= __('CURAPOPOVER_supportType')%>">
                    </span>
                    </th>
                </tr>
                <tr>
                    <th><label>Platform Adhesion Type:</label></th>
                    <th><select name="P_platformAdhesionType">
                        <option value="0" <%if (print.P_platformAdhesionType == 0) { %> selected <% } %> >None</option>
                        <option value="1" <%if (print.P_platformAdhesionType == 1) { %> selected <% } %> >Brim</option>
                        <option value="2" <%if (print.P_platformAdhesionType == 2) { %> selected <% } %> >Raft</option>
                    </select></th>
                </tr>
                <tr>
                    <th><br><input type="submit" value="ReSlice"></th>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-4">
        <div id="view"></div>
        <div id="webcam"></div>
    </div>
</div>

<div class="panel panel-primary popup" id="waitForSliceWindow">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center"><%= __('PRINTITEM_popupProcessingTitle')%>
            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
        </h3>
    </div>
    <div class="panel-body">
        <%= __('PRINTITEM_popupProcessingDesc')%>
    </div>
</div>

<script type="text/javascript">
    function disableForm(formID){
        $('#' + formID + ' th').children(':input').attr('disabled', 'disabled');
    }

    function enableForm(formID){
        $('#' + formID + ' th').children(':input').removeAttr('disabled');
    }

    if(<%= print.status%> !== 0 && <%= print.status%> !== 21 && <%= print.status%> !== 41){
        disableForm('print-update-parameters-form');
    }
    if('<%= user.type %>' !== 'normal' && <%= print.status%> == 1){
        enableForm('print-update-parameters-form');
    }

    $('input[value="ReSlice"]').click(function(){
        $('#blackOverlay').css('display', 'block');
        $('#waitForSliceWindow').css('display', 'block');
    });

    $("[data-toggle=popover]").popover({ trigger: "hover" });

</script>

<% if(print.status == 3){ %>
<script type='text/javascript' >
  var webcamURL = '<%= webcamURL %>';
</script>
<script src="/static/js/renderWebcam.js"></script>
<% }else{ %>
<script type='text/javascript' >
  var projectID = '<%= print._id %>';
</script>
<script src="/static/js/stl-loader.js"></script>
<script src="/static/js/stl.js"></script>
<% } %>
