<style type="text/css">

	tr:hover{
        background: #EBEBEB;
    }

</style>

<h3><%= __('PRINTSARCHIVE_title')%></h3>
<div class="panel panel-default">
    <div class="panel-heading"><%= __('PRINTSARCHIVE_title')%></div>
    <table id="archived-table" class="table" data-link="row"></table>
</div>

<script type="text/javascript">
    //Table Normal
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/archived/",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var normalPrints = $.parseJSON(data);
        drawTableNormal(normalPrints);
    });

    function drawTableNormal (normalPrints) {
        var table = document.getElementById('archived-table');
        var row0 = table.insertRow(0);
        row0.insertCell(0).innerHTML = '<b><%= __("PRINTSARCHIVE_tableName")%></b>';
        row0.insertCell(1).innerHTML = '<b><%= __("PRINTSARCHIVE_tableStatus")%></b>';
        row0.insertCell(2).innerHTML = '<b><%= __("PRINTSARCHIVE_tableTime")%></b>';
        row0.insertCell(3).innerHTML = '<b><%= __("PRINTSARCHIVE_tableMaterial")%></b>';
		row0.insertCell(4).innerHTML = '<b><%= __("PRINTSARCHIVE_tableAction")%></b>';
        for (var i = 0; i < Object.keys(normalPrints).length; i++) {
            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/prints/' + normalPrints[i].id + '">' + normalPrints[i].name + '</a>';

            if(normalPrints[i].status == 1){
                row.insertCell(1).innerHTML = '<b style="color: grey"><%= __("PRINTSARCHIVE_tableStatusWaiting")%></b>';
            }else if(normalPrints[i].status == 2){
                row.insertCell(1).innerHTML = '<b style="color: orange"><%= __("PRINTSARCHIVE_tableStatusAccepted")%></b>';
            }else if(normalPrints[i].status == 3){
                row.insertCell(1).innerHTML = '<b style="color: blue"><%= __("PRINTSARCHIVE_tableStatusPrinting")%></b>';
            }else if(normalPrints[i].status == 4){
                row.insertCell(1).innerHTML = '<b style="color: green"><%= __("PRINTSARCHIVE_tableStatusDone")%></b>';
            }

            row.insertCell(2).innerHTML = normalPrints[i].estimatedPrintTime + ' minutes';
            row.insertCell(3).innerHTML = normalPrints[i].materialAmount + ' gram';
			row.insertCell(4).innerHTML = '<a href="/backend/prints/copy/' + normalPrints[i].id + '/"><%= __("PRINTSARCHIVE_tableCopy")%></a>';
        }
    }
</script>
